<div class="container">
  <h3><small class="post-date"><%= @post.created_at.to_s(:short) %></small><%= @post.title %></h3>
  <hr>
  <%= simple_format(@post.body) %>
</div>

<div class="container">
  <ul class="list-inline">
    <li>Tags: </li>
    <% @post.tags.each do |tag| %>
      <li><%= link_to tag.category, tag_path(tag) %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Comment", new_post_comment_path(@post) %>

<%= render "comments/block", post: @post %>
